body,
main,
header,
footer,
section,
article,
aside,
div,
form,
iframe,
:before,
:after {
    box-sizing: border-box;
    display: block;
}

body {
    color: #111111;
    font-family: Arial;
}

iframe {
    transition: all .5s;
    opacity: 1;
}

.loading {
    opacity: 0;
}